#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// Layers

#define MAC 4
#define MAC_CODE 5
#define MAC_NUM 6
#define MAC_FUNC 7
#define WIN 0
#define WIN_CODE 1
#define WIN_NUM 2
#define WIN_FUNC 3

// Behavior Overrides

&lt {
    tapping-term-ms = <200>;
    flavor = "hold-preferred";
};

/ {
    //combos {
    //  compatible = "zmk,combos";
    //combo_tab {
    //  timeout-ms = <20>;
    //  key-positions = <1 2>;
    //  bindings = <&kp TAB>;
    //};
    //  combo_enter {
    //    timeout-ms = <20>;
    //  key-positions = <13 14>;
    //bindings = <&kp ENTER>;
    //};
    //};

    macros {
        spotlight: spotlight {
            label = "spotlight";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LGUI>,
                <&macro_tap>,
                <&kp SPACE>,
                <&macro_release>,
                <&kp LGUI>;
        };

        // Emoji

        mac_emoji: mac_emoji {
            label = "mac_emoji";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LGUI>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp SPACE>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_release>,
                <&kp LGUI>;
        };

        win_emoji: win_emoji {
            label = "win_emoji";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LGUI>,
                <&macro_tap>,
                <&kp DOT>,
                <&macro_release>,
                <&kp LGUI>;
        };
    };

    behaviors {
        td_multi_mac: tap_dance_multi_mac {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_MULTI_MAC";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp ESC>, <&spotlight>, <&mac_emoji>;
        };

        td_multi_windows: tap_dance_multi_windows {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_MULTI_WINDOWS";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp ESC>, <&kp LGUI>, <&win_emoji>;
        };

        bm: bottom_row_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "BOTTOM_ROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <135>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        cm: code_row_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "CODE_ROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            retro-tap;
        };

        sm: space_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "SPACE_MOD";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            label = "default";
            bindings = <
&none  &kp Q             &kp W  &kp E  &kp R     &kp T        &kp Y          &kp U      &kp I      &kp O    &kp P                 &none
&none  &bm LEFT_SHIFT A  &kp S  &kp D  &kp F     &kp G        &kp H          &kp J      &kp K      &kp L    &bm RIGHT_SHIFT APOS  &none
&none  &bm LCTRL Z       &kp X  &kp C  &kp V     &kp B        &kp N          &kp M      &kp COMMA  &kp DOT  &bm RCTRL FSLH        &none
                                &mo 1  &kp LALT  &kp SPACE    &kp BACKSPACE  &kp ENTER  &mo 2
            >;
        };

        symbols-navigation {
            label = "Code";
            bindings = <
&none  &kp ESC                 &kp GRAVE  &kp LBKT   &kp LBRC  &kp LPAR         &kp RPAR  &kp RBRC  &kp RBKT    &kp C_NEXT    &kp DEL         &none
&none  &bm LEFT_SHIFT TAB      &kp PRCNT  &kp CARET  &kp AMPS  &kp ASTRK        &kp LEFT  &kp DOWN  &kp UP      &kp RIGHT     &kp SEMI        &none
&none  &kp LA(LC(LEFT_SHIFT))  &kp EXCL   &kp AT     &kp HASH  &bm HOME DLLR    &kp END   &kp RWIN  &kp C_MUTE  &kp C_VOL_UP  &cm RCTRL BSLH  &none
                                          &trans     &trans    &trans           &trans    &trans    &trans
            >;
        };

        numpad-systems {
            label = "Number";
            bindings = <
&none  &kp EXCL   &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS  &kp ASTERISK  &kp CAPS  &kp BSPC   &none
&none  &kp N1     &kp N2  &kp N3    &kp N4    &kp N5       &kp N6     &kp N7    &kp N8        &kp N9    &kp N0     &none
&none  &kp LSHFT  &none   &none     &none     &none        &none      &none     &kp COMMA     &kp DOT   &kp RSHFT  &none
                          &trans    &trans    &trans       &trans     &trans    &trans
            >;
        };
    };
};
